{% extends 'base.html.twig' %}
{% block title %}Homepage
{% endblock %}
{% block body %}



	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bienvenue sur Garage Napoli</h1>
			<p class="lead">Nous vous fournissons des véhicules d'occasions au meilleur prix. Les documents du véhicule sont fournis dans 100% des cas une fois sur deux.</p>
			<hr class="my-4">
			<p>Toute ressemblance avec un véhicule vous ayant appartenu et ayant mystérieusement disparu est purement fortuite.
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{{ path('catalogue')}}" role="button">Voir nos annonces</a>
			</p>
		</div>

		<h1 class='mt-3 mb-4'>Nos véhicules
		</h1>

		<div class="row">
			{% for car in voitures %}

			{% include "catalogue/_vroom.html.twig" %}
	
		{% endfor %}


	</div>
	</div>
{% endblock %}
