.txtImg{
    text-shadow: 3px 3px 3px rgb(0,0,0,0.5);
    font-size:20px;
}

.textTwig{
    font-size:16px;    
}


.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
} 